JWT_SECRET=super-secret-key
PORT=3000
NODE_ENV=development
FIREBASE_SERVICE_ACCOUNT_PATH=
DATABASE_URL=
FIREBASE_RTD_PATH_TEMPLATE="devices"

FIREBASE_DATABASE_URL=
NOTIFICATION_CRON_INTERVAL_SECONDS=60
